EBSI_ENV=integration
UNIV_CONTRACT_ADDR=0xcb29a1C8bf556047e164A51EB011B5b3047348f7
GOV_CONTRACT_ADDR=0xCa5D58D19775dE8e14CF8a1aEeC880f7cC31f902
API_PRIVATE_KEY=fillwithyourprivkey

APP_PORT=3000
# { error: 0, warn: 1, info: 2, verbose: 3, debug: 4 }
LOG_LEVEL=debug
