# set environment variables
# set to test, local, integration, development or production
ebsi_env=integration
# COMPONENT PASSWORD
component_password=  <-- HERE GOES THE COMPONENT PASSWORD
# ID HUB KEYSTORE
component_keystore = <-- HERE GOES THE COMPONENT KEYSTORE
# BESU PROVIDER INT ENVIRONMENT
did_registry_sc_address= <-- HERE GOES THE DID REGISTRY SC ADDRESS
