# set environment variables
# set to test, local, integration, development or production
EBSI_ENV=integration
# ID HUB PRIVATE KEY
API_PRIVATE_KEY= <-- HERE GOES THE API PRIVATE KEY IN HEX FORMAT
# BESU PROVIDER INT ENVIRONMENT
DID_REGISTRY_SC_ADDRESS= <-- HERE GOES THE DID REGISTRY SC ADDRESS
