# set environment variables
# set to test, local, integration, development or production
ebsi_env=integration
# API PRIVATE KEY
api_private_key=  <-- HERE GOES THE API PRIVATE KEY IN HEX FORMAT
# BESU PROVIDER INT ENVIRONMENT
did_registry_sc_address= <-- HERE GOES THE DID REGISTRY SC ADDRESS
