# set environment variables
# set to test, local, integration, development or production
EBSI_ENV=local
# DEBUG LEVEL
# { error: 0, warn: 1, info: 2, verbose: 3, debug: 4, silly: 5 }
DEBUG_LEVEL='debug'
# COMPONENT PASSWORD
COMPONENT_PASSWORD=  <-- HERE GOES THE COMPONENT PASSWORD
# ID HUB KEYSTORE
COMPONENT_KEYSTORE = <-- HERE GOES THE COMPONENT KEYSTORE
# BESU PROVIDER INT ENVIRONMENT
DID_REGISTRY_SC_ADDRESS= <-- HERE GOES THE DID REGISTRY SC ADDRESS
