[submodule "submodules/trusted-schemas-registry-ethereum-sc"]
	path = submodules/trusted-schemas-registry-ethereum-sc
	url = https://ec.europa.eu/digital-building-blocks/code/scm/ebsi/trusted-schemas-registry-ethereum-sc.git
	branch = develop
