# Common
build
coverage
dist
node_modules
yarn-error.log
.env*.local
*.log
*log
.idea

# SC
.clinic
.secret*
# Assets built by hardhat, previously only `src` in SC repos
contracts/*/src
# config.ts
abi
all.sol
artifacts
cache
coverage.json
key/private.pem
typechain

# manifest created by nx for Jenkins CD
affected.yaml
