# Exclude everything
*

# Only add what is necessary
!package.json
!hardhat.config.ts
!nest-cli.json
!tsconfig.production.json
!tsconfig.json
!.yarnrc
!yarn.lock
!scripts
!src
src/contracts
!submodules/trusted-apps-registry-ethereum-sc/contracts
!submodules/trusted-apps-registry-ethereum-sc/package.json
!submodules/trusted-apps-registry-ethereum-sc/yarn.lock
!submodules/trusted-apps-registry-ethereum-sc/truffle-config.js
