# Exclude everything
*

# Only add what is necessary
!package.json
!hardhat.config.ts
!nest-cli.json
!tsconfig.production.json
!tsconfig.json
!.yarnrc
!yarn.lock
!scripts
!src

# The image tag information is used in the service
!.ci
