[submodule "contracts/trusted-policies-registry-ethereum-sc"]
	path = contracts/trusted-policies-registry-ethereum-sc
	url = https://ec.europa.eu/digital-building-blocks/code/scm/ebsi/trusted-policies-registry-ethereum-sc.git
	branch = "develop"
