@import 'node_modules/antd/dist/antd.less';

@font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
@layout-header-background: rgb(0, 68, 148);
@btn-primary-bg: #004494;
@error-color: #dc3545;
@blue: #007bff;
@info-color: #17a2b8;
@warning-color: #ffc107;
@gray: #6c757d;
@success-color: #28a745;
@processing-color: #007bff;

.ant-btn-primary {
  border: none;
}

.ant-btn-primary:hover {
  background: #ffd617;
  color: white;
}

.header-text {
  color: white !important;
  padding: 10px 30px;
}

.content-container {
  padding: 100px 80px;
  min-height: 100vh;
}

.m-t-10 {
  margin-top: 10px;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: @success-color;
  --info: @info-color;
  --warning: @warning-color;
  --danger: @error-color;
  --light: #f8f9fa;
  --dark: #343a40;
}
