openapi: 3.0.3
info:
  title: Authorisation API
  description: |
    Authorisation service is an EBSI core service that manages the user,
    legal entities and component authentication.
  version: 1.0.0
  termsOfService: "/docs/terms"
  contact:
    name: "EBSI Support"
    url: "https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/ebsi"
  license:
    name: "EUPL-1.2"
    url: "https://joinup.ec.europa.eu/page/eupl-text-11-12"
servers:
  - url: "https://api.ebsi.xyz"
    description: EBSI Testing Environment
tags:
  - name: Authorisation API
    description: Manage EBSI User, Legal Entities and Component Authentication
paths:
  /authorisation/v1/authentication-requests:
    post:
      operationId: post-authorisation-v1-authentication-requests
      tags:
        - Authorisation API
      summary: Authentication Requests
      description: Natural Person and Legal Entities entry point to initiate a SIOP DID Auth Request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticationRequest"
            examples:
              openid did_authn:
                value:
                  scope: openid did_authn
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationRequestResponse"
              examples:
                Authentication Request Response JWT by value:
                  value:
                    uri: openid://?response_type=id_token&client_id=https%3A%2F%2Fapi.ebsi.zyz%2Fauthorisation%2Fv1%2Faccess-tokens&scope=openid%20did_authn&request=eyJhbGciOiJIUzI1Ni...
                Authentication Request Response JWT by reference:
                  value:
                    uri: openid://?response_type=id_token&client_id=https%3A%2F%2Fapi.ebsi.zyz%2Faccess-tokens&scope=openid%20did_authn&&request_uri=https%3A%2F%2Fapi.ebsi.zyz%2Fauthorisation%2Fv1%2Frequest-tokens
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /authorisation/v1/siop-sessions:
    post:
      operationId: post-authorisation-v1-siop-sessions
      tags:
        - Authorisation API
      summary: SIOP Sessions
      description: Sessions Token endpoint as the callback for DID SIOP Response
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SiopSessionsRequest"
            examples:
              SIOP Response with state:
                value: "id_token=eyJraW..&state=af0ifjsldkj"
              SIOP Response without state:
                value: "id_token=eyJraW.."
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
              examples:
                SIOP Access Token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    tokenType: bearer
                    expiresAt: "2020-10-01T19:23:24Z"
                    scope: openid did_authn
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /authorisation/v1/oauth2-sessions:
    post:
      operationId: post-authorisation-v1-oauth2-sessions
      tags:
        - Authorisation API
      summary: OAuth2 Sessions Token
      description: Session Token endpoint for Component Authorisation (DID Auth - CCG Flow).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuth2SessionsRequest"
            examples:
              OAuth2 Session Request:
                value:
                  grantType: client_credentials
                  clientAssertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
                  clientAssertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  scope: openid did_authn
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
              examples:
                SIOP Access Token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    tokenType: bearer
                    expiresAt: "2020-10-01T19:23:24Z"
                    scope: openid did_authn
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /authorisation/v1/fabric-registrations:
    post:
      operationId: post-authorisation-v1-fabric-registrations
      tags:
        - Authorisation API
      description: |
        Connects to Fabric ledger to ask for the User or Legal Entity
        secret necessary to complete the enrolment process.
        User/Legal Entity DID is extracted from the Sessions Token.
      summary: User and Legal Entity enrolments.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentSecretResponse"
              examples:
                Enrolemnt Secret Response:
                  value:
                    enrollmentSecret: user1pw
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Unauthorized:
                  $ref: "#/components/examples/Unauthorized"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Forbidden:
                  $ref: "#/components/examples/Forbidden"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
components:
  schemas:
    OAuth2SessionsRequest:
      title: OAuth2 Sessions Request
      description: Request for JWT bearer assertion grant.
      type: object
      properties:
        grantType:
          description: |
            'Grant type. Must be set to "client_credentials"'
          type: string
          example: "client_credentials"
        clientAssertionType:
          description: |
            'Client Assertion type. Must be set to "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"'
          type: string
          example: "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"
        clientAssertion:
          type: string
          description: Self-signed JWT
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        scope:
          type: string
          description: Scope is used to define the authentication method. Must be set to "openid did_authn"
          example: "openid did_authn"
      required:
        - grantType
        - clientAssertionType
        - clientAssertion
        - scope
    SessionsResponse:
      title: Sessions Response
      type: object
      properties:
        accessToken:
          description: Authentication JWT to access the protected EBSI Services calls.
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        tokenType:
          description: 'Type of the authentication token. Supported type "bearer".'
          type: string
          example: Bearer
        expiresAt:
          description: "Date and time on/after which the Access Token becomes invalid. Format: ISO 8601"
          type: string
          example: "2020-10-01T19:23:24Z"
        scope:
          description: "Open Id scope"
          type: string
          example: "openid did_authn"
      description: Authentication JWT
    AuthenticationRequest:
      title: Authentication Request
      description: Request to initiate a SIOP authentication process.
      type: object
      properties:
        scope:
          type: string
          description: Scope is used to define the authentication response method.
          enum:
            - openid did_authn
          example: openid did_authn
      required:
        - scope
    AuthenticationRequestResponse:
      title: Authentication Request Response
      type: object
      properties:
        uri:
          description: OpenId DID SIOP Uri response.
          type: string
          example: openid://?response_type=id_token&client_id=https%3A%2F%2Fapi.ebsi.zyz%2Fauthorisation%2Fv1%2Faccess-tokens&scope=openid%20did_authn&request=eyJhbGciOiJIUzI1Ni...
      description: DID SIOP OIDC URI
    SiopSessionsRequest:
      title: SIOP Sessions Token Request
      description: Request for JWT bearer token on a DID SIOP Response.
      type: string
      properties:
        id_token:
          type: string
          description: signed JWT OIDC Id Token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        state:
          type: string
          description: Required if it is present in the Authentication Request
          example: "af0ifjsldkj"
      required:
        - id_token
    EnrollmentSecretResponse:
      title: Fabric Enrollment Secret Response
      type: object
      properties:
        enrollmentSecret:
          description: Enrollment Secret Response after contacting Fabric.
          type: string
          example: user1pw
    Problem:
      description: A Problem Details object (RFC 7807)
      type: object
      properties:
        type:
          type: string
          format: uri
          description: |
            An absolute URI that identifies the problem type. When dereferenced,
            it SHOULD provide human-readable documentation for the problem type.
          default: "about:blank"
        title:
          type: string
          description: |
            A short summary of the problem type.
          example: Internal Server Error
        status:
          type: integer
          format: int32
          description: |
            The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 400
          maximum: 600
          exclusiveMaximum: true
          example: 500
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurrence of the problem.
          example: Connection timeout
        instance:
          type: string
          format: uri
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
  examples:
    BadRequest:
      value:
        title: Bad Request
        status: 400
        detail: Bad request.
    Unauthorized:
      value:
        title: Unauthorized
        status: 401
        detail: Permission denied.
    Forbidden:
      value:
        title: Forbidden
        status: 403
        detail: "Forbidden You don't have the right to access that ressource"
    IssuerNotFound:
      value:
        title: Issuer Not Found
        status: 400
        detail: Issuer not found in the trusted apps registry.
    ExpiredToken:
      value:
        title: Token Expired
        status: 400
        detail: The token has expired.
    InternalError:
      value:
        title: Internal Server Error
        status: 500
        detail: The server encountered an internal error and was unable to complete your request.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
