openapi: 3.0.3
info:
  title: Authorisation API
  description: |
    Authorisation service is an EBSI core service that manages the user,
    legal entities and component authentication.
  version: 1.0.0
  termsOfService: "/docs/terms"
  contact:
    name: "EBSI Support"
    url: "https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/ebsi"
  license:
    name: "EUPL-1.2"
    url: "https://joinup.ec.europa.eu/page/eupl-text-11-12"
servers:
  - url: "https://api.ebsi.xyz"
    description: EBSI Testing Environment
tags:
  - name: Authorisation API
    description: Manage EBSI User, Legal Entities and Component Authentication
paths:
  /authorisation/v1/authentication-requests:
    post:
      operationId: post-authorisation-v1-authentication-requests
      tags:
        - Authorisation API
      summary: Authentication Requests
      description: Natural Person and Legal Entities entry point to initiate a SIOP DID Auth Request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticationRequest"
            examples:
              openid did_authn:
                value:
                  scope: openid did_authn
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationRequestResponse"
              examples:
                Authentication Request:
                  value:
                    uri: openid://?response_type=id_token&client_id=https%3A%2F%2Fapi.test.intebsi.xyz%2Fauthorisation%2Fv1%2Fsiop-sessions&scope=openid%20did_authn&nonce=693dc75f-c2f7-494d-86bd-2068e9aa69ae&request=eyJhbGciOiJFUzI1NksiLCJ0eXAiOi...
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /authorisation/v1/siop-sessions:
    post:
      operationId: post-authorisation-v1-siop-sessions
      tags:
        - Authorisation API
      summary: SIOP Sessions
      description:
        Sessions Token endpoint as the callback for DID SIOP Response.
        This endpoint accepts id-token for algorithms ES256K, ES256, RS256, and EdDSA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SiopSessionsRequest"
            examples:
              ID Token:
                value: "id_token=eyJraW.."
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ake1SiopResponse"
              examples:
                SIOP Response:
                  value:
                    ake1_enc_payload: a779dabc9de45e4dde99fd7092d649dd032e93c0d3282aee31feb449943268115215a6d0ad6fe0bd1887...
                    ake1_sig_payload:
                      iat: 1619700622
                      exp: 1619701522
                      ake1_nonce: "64ce6e9f-2fea-4f44-9faa-2409bdf7792c"
                      ake1_enc_payload: a779dabc9de45e4dde99fd7092d649dd032e93c0d3282aee31feb449943268115215a6d0ad6fe0bd1887...
                      did: did:ebsi:AaEkn73secFMUTSg4vTLkhX79kJE8oaAK748ToS8Ys9e
                      iss: did:ebsi:BdFneNpniW3DE639yY6sEga9GhwdZ3jSdfJ1EyURMPx5
                    ake1_jws_detached: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NksiLCJraWQiOiJodHRwc...
                    did: did:ebsi:BdFneNpniW3DE639yY6sEga9GhwdZ3jSdfJ1EyURMPx5
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
  /authorisation/v1/oauth2-sessions:
    post:
      operationId: post-authorisation-v1-oauth2-sessions
      tags:
        - Authorisation API
      summary: OAuth2 Sessions Token
      description: Session Token endpoint for Component Authorisation (DID Auth - CCG Flow).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuth2SessionsRequest"
            examples:
              OAuth2 Session Request:
                value:
                  grantType: client_credentials
                  clientAssertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
                  clientAssertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  scope: openid did_authn
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ake1OAuth2Response"
              examples:
                OAuth2 response:
                  value:
                    ake1_enc_payload: a2b0f1d9e76ed4ccca51727e73237a530021d1851fae0464b0d24b1dec5...
                    ake1_sig_payload:
                      iat: 1619700951
                      exp: 1619701851
                      ake1_nonce: "5b7239ab-e28e-4187-a9b3-703f2d9f6a78"
                      ake1_enc_payload: a2b0f1d9e76ed4ccca51727e73237a530021d1851fae0464b0d24b1dec5...
                      kid: https://api.test.intebsi.xyz/trusted-apps-registry/v2/apps/0xb12d3a1d0ab15c87590c26fea7afdca8f22bfeb8c5387e787955f8044b6ada5f
                      iss: authorisation-api
                    ake1_jws_detached: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NksiLCJraWQiOiJodHR...
                    kid: https://api.test.intebsi.xyz/trusted-apps-registry/v2/apps/0xf0c34a721e1bb7606de33a6e44ab30698e8076d7bb5c0b11d108aa52a5de0337
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Bad Request:
                  $ref: "#/components/examples/BadRequest"
                Issuer Not Found:
                  $ref: "#/components/examples/IssuerNotFound"
                Expired Token:
                  $ref: "#/components/examples/ExpiredToken"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              examples:
                Internal Server Error:
                  $ref: "#/components/examples/InternalError"
components:
  schemas:
    AuthenticationRequest:
      title: SIOP Authentication Request
      description: Request to initiate a SIOP authentication process.
      type: object
      properties:
        scope:
          type: string
          description: Scope is used to define the authentication response method.
          example: openid did_authn
      required:
        - scope
    AuthenticationRequestResponse:
      title: SIOP Authentication Request Response
      type: object
      properties:
        uri:
          description: OpenId DID SIOP Uri response.
          type: string
          example: openid://?response_type=id_token&client_id=https%3A%2F%2Fapi.ebsi.zyz%2Fauthorisation%2Fv1%2Faccess-tokens&scope=openid%20did_authn&request=eyJhbGciOiJIUzI1Ni...
      description: DID SIOP OIDC URI
    SiopSessionsRequest:
      title: SIOP Session Request
      type: string
      properties:
        id_token:
          type: string
          description: signed JWT OIDC Id Token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      required:
        - id_token
      description: Request for JWT bearer token on a DID SIOP Response.
    Ake1SiopResponse:
      title: SIOP Session Response
      type: object
      properties:
        ake1_enc_payload:
          description: Encrypted payload with user's public key
          type: string
          example: dc3495621fcabdee33fe86...
        ake1_jws_detached:
          description: Detached JWS of AKE1 Signing Payload
          type: string
          example: eyJraWQiOiJodH...
        ake1_sig_payload:
          type: object
          properties:
            ake1_enc_payload:
              description: Encrypted payload with user's public key
              type: string
              example: dc3495621fcabdee33fe86...
            ake1_nonce:
              description: Nonce used during the authentication process
              type: string
              example: 6fSnKv06+4XcZQ==
            did:
              description: User DID
              type: string
              example: did:ebsi:v3Yb4v92ykowMg
            iat:
              description: Issued at
              type: number
              example: 1615883457
            exp:
              description: Expires
              type: number
              example: 1615883468
            iss:
              description: Issuer (authorisation api)
              type: string
              example: authorisation-api
        did:
          description: API DID
          type: string
          example: did:ebsi:0x404aaa7c731b023e5342e8329b625f2fb9763a26
      description: Ake1 Response for Oauth2 authentication
    OAuth2SessionsRequest:
      title: OAuth2 Session Request
      description: Request for JWT bearer assertion grant.
      type: object
      properties:
        grantType:
          description: |
            'Grant type. Must be set to "client_credentials"'
          type: string
          example: "client_credentials"
        clientAssertionType:
          description: |
            'Client Assertion type. Must be set to "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"'
          type: string
          example: "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"
        clientAssertion:
          type: string
          description: Self-signed JWT
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        scope:
          type: string
          description: Scope is used to define the authentication method. Must be set to "openid did_authn"
          example: "openid did_authn"
      required:
        - grantType
        - clientAssertionType
        - clientAssertion
        - scope
    Ake1OAuth2Response:
      title: Oauth2 Session Response
      type: object
      properties:
        ake1_enc_payload:
          description: Encrypted payload with user's public key
          type: string
          example: dc3495621fcabdee33fe86...
        ake1_jws_detached:
          description: Detached JWS of AKE1 Signing Payload
          type: string
          example: eyJraWQiOiJodH...
        ake1_sig_payload:
          type: object
          properties:
            ake1_enc_payload:
              description: Encrypted payload with user's public key
              type: string
              example: dc3495621fcabdee33fe86...
            ake1_nonce:
              description: Nonce used during the authentication process
              type: string
              example: 6fSnKv06+4XcZQ==
            kid:
              description: Trusted App Kid
              type: string
              example: https://api.test.intebsi.xyz/trusted-apps-registry/v2/apps/0xb9f5523a132d9c22c552bf126691a0c9dfa3ba550c8de3e8409c0c21b28e0e99
            iat:
              description: Issued at
              type: number
              example: 1615883457
            exp:
              description: Expires
              type: number
              example: 1615883468
            iss:
              description: Issuer (authorisation api)
              type: string
              example: authorisation-api
        kid:
          description: API Kid
          type: string
          example: https://api.test.intebsi.xyz/trusted-apps-registry/v2/apps/0xf0c34a721e1bb7606de33a6e44ab30698e8076d7bb5c0b11d108aa52a5de0337
      description: Ake1 Response for Oauth2 authentication
    Problem:
      description: A Problem Details object (RFC 7807)
      type: object
      properties:
        type:
          type: string
          format: uri
          description: |
            An absolute URI that identifies the problem type. When dereferenced,
            it SHOULD provide human-readable documentation for the problem type.
          default: "about:blank"
        title:
          type: string
          description: |
            A short summary of the problem type.
          example: Internal Server Error
        status:
          type: integer
          format: int32
          description: |
            The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 400
          maximum: 600
          exclusiveMaximum: true
          example: 500
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurrence of the problem.
          example: Connection timeout
        instance:
          type: string
          format: uri
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
  examples:
    BadRequest:
      value:
        title: Bad Request
        status: 400
        detail: Bad request.
    IssuerNotFound:
      value:
        title: Issuer Not Found
        status: 400
        detail: Issuer not found in the trusted apps registry.
    ExpiredToken:
      value:
        title: Token Expired
        status: 400
        detail: The token has expired.
    InternalError:
      value:
        title: Internal Server Error
        status: 500
        detail: The server encountered an internal error and was unable to complete your request.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
