[submodule "submodules/trusted-ledgers-sc-registry-ethereum-sc"]
	path = submodules/trusted-ledgers-sc-registry-ethereum-sc
	url = https://ec.europa.eu/digital-building-blocks/code/scm/ebsi/trusted-ledgers-sc-registry-ethereum-sc.git
	branch = develop
